@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("./open-sans-v15-latin_cyrillic-regular.woff2") format("woff2"),
    url("./open-sans-v15-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src:
    local("Open Sans SemiBold"),
    local("OpenSans-SemiBold"),
    url("./open-sans-v15-latin_cyrillic-600.woff2") format("woff2"),
    url("./open-sans-v15-latin_cyrillic-600.woff") format("woff");
}
