.checkbox {
  &_control {
    display: none;
  }

  &_label {
    position: relative;

    display: inline-block;

    padding-left: 26px;

    cursor: pointer;
    vertical-align: middle;

    font-size: 13px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;

      display: inline-block;

      width: 16px;
      height: 16px;
      margin-top: -8px;

      content: "";
      transition: all 0.2s ease;

      border: 1px solid $control-border-color;
      border-radius: 3px;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 5px;

      display: block;

      width: 9px;
      height: 7px;
      margin-top: -2px;

      content: "";
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      transform: translateY(-5px);

      opacity: 0;
      background: url("./images/check-icon.svg") no-repeat;
    }
  }

  &:hover &_label::before {
    border-color: $control-hover-border-color;
    background-color: $control-hover-background;
  }

  &_control:checked + &_label {
    &::before {
      border-color: $blue;
      background-color: $control-hover-background;
    }

    &::after {
      transform: translateY(0);

      opacity: 1;
    }
  }
}
