@import "../font-open-sans/font-open-sans.scss";

$base-font-family: "Open Sans", "Arial", sans-serif;
$orange: #ff6d00;
$orange-light: #faa760;
$orange-dark: #d64d08;
$separator-color: #e4e7e8;
$gray: #8b9497;
$base-text-color: #4a4a4a;

$blue: #3b96f3;
$control-border-color: #d2d5d6;
$control-hover-background: #f2fcff;
$control-hover-border-color: #64b5f5;
